.arrow {
  /* animation: arrow var(--time) linear infinite; */
  transform-origin: center;
}
.lines {
  /* animation: scale var(--time) linear infinite; */
  transform-origin: top center;
}
.circle {
  /* animation: move var(--time) linear infinite; */
  transform: rotate(-90deg);
  transform-origin: center;
}