.export-button {
  @apply border-background-800 text-12 gap-8 rounded-full border-2 px-12 py-8;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas: 'icon text loading';
  align-items: center;
  overflow-y: clip;
}
.export-button:hover {
  @apply border-background-700 bg-background-800;
}
.export-button:disabled {
  pointer-events: none;
  opacity: 0.6;
}
.export-button > * {
  grid-row: 1/1;
  transition: transform 0.3s var(--ease-back-in-out);
}
.export {
  grid-column: text / loading;
}
.exporting {
  grid-column: text;
}
.loading {
  grid-column: loading;
}

.export-button:not(:disabled) .export {
  transition-delay: 200ms;
}
.export-button:not(:disabled) .exporting {
  transform: translateY(40px);
  transition-delay: 100ms;
}
.export-button:not(:disabled) .loading {
  transform: translateY(40px);
  transition-delay: 0ms;
}
.export-button:disabled .export {
  transform: translateY(-40px);
  transition-delay: 0ms;
}
.export-button:disabled .exporting {
  transition-delay: 100ms;
}
.export-button:disabled .loading {
  transition-delay: 200ms;
}
.export-button:disabled .loading path {
  transform-origin: center;
  animation: rotate 0.6s linear infinite;
}

@keyframes rotate {
  from {
    transform: 0;
  }
  to {
    transform: rotate(360deg);
  }
}
