.icon::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform-origin: center;
  background-color: currentColor;
  opacity: 0;
  transform: scale(0);
  animation: ripple 2s 0.9s cubic-bezier(0.16, 1, 0.3, 1);
  pointer-events: none;
}
.icon {
  animation: pulse 1.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.icon g {
  animation: enter 1.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.icon line {
  animation: scale 1.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform-origin: 75px 50px;
}

@keyframes pulse {
  0% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes enter {
  0%,
  30% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scale {
  0%,
  60% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(20);
    opacity: 0;
  }
}
