@reference "tailwindcss";
@reference "../../../theme.css";



.radio-group {
  @apply lense-list;
}
.radio + label {
  @apply lense-anchor;
}
.radio:checked + label {
  @apply lense-focus;
}

.radio {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.radio:checked + label {
  @apply text-white;
}
.radio:checked + label:hover {
  @apply text-white;
}
.radio:focus-visible + label {
  @apply outline outline-1;
}
