@reference "tailwindcss";
@reference "../../../theme.css";

.preset {
  position: relative;
  flex: 1;
}
.preset:has(:focus-visible) {
  border-radius: 10px;
  outline: solid 2px white;
}
.preset input {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: -1;
}
.preset label {
  border-radius: 10px;
  @apply h-full font-medium grid cursor-pointer place-items-center bg-black py-8 text-center text-white/60 border border-transparent;
}
.preset input:checked + label {
  border-color: white;
  color: white;
}
.preset-custom {
  @apply border border-white;
}

.preset-container:has(input[type='radio']:checked) .preset-custom {
  @apply text-white/60 border-transparent;
}
.preset-container:has(:global(.warning-message)) .preset-custom {
  @apply border border-warning outline-warning;
}
.preset-container:has(input[type='number']:invalid) .preset-custom {
  @apply text-error border-error outline-error;
}
