@reference "tailwindcss";
@reference "../../../theme.css";

.preset {  
  position: relative;
}
.preset:has(:focus-visible) {
  @apply rounded-lg;
  outline: solid 1px white;
}
.preset input {
  position: absolute;
  inset: 0;
  opacity: 0;
  z-index: -1;
}
.preset label {
  @apply rounded-lg font-medium grid cursor-pointer place-items-center py-8 text-center text-main-0/60 tab-anchor;
}
.preset input:not(:checked) + label:hover {
  @apply bg-main-600/20 text-main-0;
}

.preset input:checked + label {
  @apply tab-focus text-main-0;
}

.preset-custom {
  @apply text-main-0/60;
}

.preset-container:not(:has(input[type='radio']:checked)) .preset-custom {
   @apply text-main-0;
}

.preset-container:has(:global(.warning-message)) .preset-custom {
  @apply border-warning outline-warning;
}
.preset-container:has(input[type='number']:invalid) .preset-custom {
  @apply text-error border-error outline-error;
}
