@reference 'tailwindcss';
@reference '../../theme.css';

.trade-type {
  @apply px-8 py-12 flex-1 text-white/60 tab-anchor;
  display: grid;
  grid-template-areas: 'stack';
}
.trade-type[aria-selected="true"] {
  @apply tab-focus;
}

.trade-type > * {
  grid-area: stack;
}
.trade-type span {
  transform-origin: top;
  transition: transform 200ms var(--ease-out);
}
.trade-type p {
  transition-behavior: allow-discrete;
  transition-property: transform, display, opacity;
  transition-duration: 200ms;
  transition-timing-function: var(--ease-out);
}
.trade-type:has(p:not([hidden])) span {
  transform: translateY(-10px) scale(0.7);
}
.trade-type p[hidden] {
  opacity: 0;
  transform: scale(0.3);
}
.trade-type p:not([hidden]) {
  transform: translateY(10px);
  transition-delay: 100ms;
}
@starting-style {
  .trade-type p:not([hidden]) {
    opacity: 0;
    transform: translateY(20px) scale(1);
  }
}

@media (max-width: 40rem) {
  .trade-type:has(p:not([hidden])) span {
    transform: translateY(-5px) scale(0.7);
  }
}

/* sm */
@media (min-width: 40rem) {
  .trade-type {
    @apply px-24;
  }
}

/* 2xl */
@media (min-width: 96rem) {
  .trade-type {
     @apply py-16;
  }
  .trade-type span {
    transform-origin: top left;
  }
}