.mobile-menu {
  position: sticky;
  bottom: 0;
  height: 80px;
  padding-inline: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: oklch(var(--light-50) var(--chroma) var(--hue) / 50%);
  z-index: 40;
}
.mobile-menu::before {
  content: "";
  inset: 0;
  background-color: oklch(var(--light-900) var(--chroma) var(--hue) / 60%);
  backdrop-filter: blur(20px) saturate(150%);
  mask: linear-gradient(to top, black 60%, transparent);
  position: absolute;
  z-index: -1;
}

@media (min-width: 48rem) {
  .mobile-menu {
    display: none;
  }
}