@reference "tailwindcss";
@reference "#theme";

.mobile-menu {
  @apply text-main-0/50;
  position: sticky;
  bottom: 0;
  height: 80px;
  padding-inline: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 40;
}
.mobile-menu::before {
  @apply bg-main-900/60;
  content: "";
  inset: 0;
  backdrop-filter: blur(20px) saturate(150%);
  mask: linear-gradient(to top, black 60%, transparent);
  position: absolute;
  z-index: -1;
}

@variant sm {
  .mobile-menu {
    display: none;
  }
}