# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# vscode
/.vscode

# idea
/.idea
/.fleet

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*

# typechain
/src/abis/types

# e2e
e2e/results
e2e/storage.json
playwright-report