.strategy-graph {
  font-family: GT America Mono;
  width: 100%;
  height: unset;
  aspect-ratio: 400 / 130;
  font-size: 14px; /* Used as a ref for rect's width */
}

.strategy-graph g.buySellAreas:hover g.buy:not(:hover) {
  opacity: 0.25;
}
.strategy-graph g.buySellAreas:hover g.sell:not(:hover) {
  opacity: 0.25;
}

.strategy-graph .lineBuySell:hover,
.strategy-graph .rectBuySell:hover line {
  stroke-width: 4;
}

.strategy-graph .priceLine {
  transition: all 0.5s;
}
