@reference "tailwindcss";
@reference "#theme";

.layout {
  display: grid;
  place-content: start;
  gap: 32px;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "search search"
    "tabs tabs"
    "amount filters"
    "list list";
  place-items: stretch;
}

@variant max-sm {
  .layout {
    grid-template-columns: 1fr; 
    gap: 16px;
    grid-template-areas:
      "search"
      "tabs"
      "filters"
      "amount"
      "list";
  }
}