.search-container {
  background-image: linear-gradient(
    to bottom,
    var(--gradient-first, var(--primary)),
    var(--gradient-middle, var(--primary)),
    var(--gradient-last, var(--primary))
  );
  padding: 2px;
  border-radius: 48px;
}

.search {
  display: grid;
  gap: 16px;
  padding-inline: 16px;
  grid-template-columns: 24px 1fr auto;
  align-items: center;
  position: relative;
  border-radius: inherit;
  height: 44px;
  @apply bg-black;
}

.search button[type='submit'] {
  position: relative;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  isolation: isolate;
  transition: color 0.2s 0.1s var(--ease-out);
  overflow: hidden;
}

.search:active button[type='submit'] svg {
  transition: transform 0.2s var(--ease-out);
}

.search button[type='submit']::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0;
  border-radius: inherit;
  z-index: -1;
  transform: scale(0.7);
  transition: all 0.2s 0.1s var(--ease-out);
  background-image: linear-gradient(
    to bottom,
    var(--gradient-first, var(--primary)),
    var(--gradient-middle, var(--primary)),
    var(--gradient-last, var(--primary))
  );
}

.search:active button[type='submit'] svg {
  transform: scale(0.8);
}
.search button[type='submit']:hover,
.search:focus-within button[type='submit'] {
  color: black;
}
.search:focus-within button[type='submit'] svg {
  animation: enter 0.6s var(--ease-out);
}
.search button[type='submit']:hover::before,
.search:focus-within button[type='submit']::before {
  transform: scale(1);
  opacity: 1;
}

@keyframes enter {
  33% {
    transform: translateX(100%);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  66% {
    transform: translateX(-150%);
  }
}
