.root {
  display: grid;
}

@media (min-width: 96rem) {
  .root {
    grid-template-columns: 350px 1fr 450px;
    grid-template-areas:
      'nav chart form';
  }
}

@media (min-width: 64rem) and (max-width: 96rem) {
  .root {
    align-content: start;
    grid-template-columns: 1fr 450px;
    grid-template-areas:
      'nav nav'
      'chart form';
  }
}

@media (max-width: 64rem) {
  .root {
    grid-template-areas:
      'nav'
      'form'
      'chart';
  }
}