.dotpulse {
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  overflow: clip;
  padding: 4px;
}

.dotpulse > :nth-child(1) {
  animation: pulse-1 1.5s var(--ease-in-out) infinite;
}
.dotpulse > :nth-child(2) {
  animation: pulse-2 1.5s var(--ease-in-out) infinite;
}
.dotpulse > :nth-child(3) {
  animation: pulse-3 1.5s var(--ease-in-out) infinite;
}

@keyframes pulse-1 {
  0%, 60%, 100% {
    transform: translateY(200%);
  }
  20%, 40% {
    transform: translateY(0);
  }
}
@keyframes pulse-2 {
  0%, 20%, 80%, 100% {
    transform: translateY(200%);
  }
  40%, 60% {
    transform: translateY(0);
  }
}
@keyframes pulse-3 {
  0%, 40%, 100% {
    transform: translateY(200%);
  }
  60%, 80% {
    transform: translateY(0);
  }
}