.form:invalid button[type='submit'],
.form:has(:global(.error-message)) button[type='submit'],
.form:has(:global(.loading-message)) button[type='submit'],
.form:has(:global(.warning-message)):has(.approve-warnings input:not(:checked))
  button[type='submit'] {
  opacity: 0.4;
  cursor: not-allowed;
}

.form:invalid button[type='submit']:hover,
.form:has(:global(.error-message)) button[type='submit']:hover {
  border: none;
}

.form:invalid .add-cart,
.form:has(:global(.error-message)) .add-cart,
.form:has(:global(.loading-message)) .add-cart {
  opacity: 0.4;
  cursor: not-allowed;
}

.form:has(:global(.error-message)) .approve-warnings,
.form:not(:has(:global(.warning-message))) .approve-warnings {
  display: none;
}
