.order {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}
.order[data-direction='buy'] {
  --direction-color: oklch(0.5 0.2 var(--buy-hue) / 0.4);
  --direction-gradient: to top;
  --direction-translate: 80px;
}
.order[data-direction='sell'] {
  --direction-color: oklch(0.5 0.2 var(--sell-hue) / 0.4);
  --direction-gradient: to bottom;
  --direction-translate: -80px;
}
.order[data-direction='sell'][data-disposable] {
  --direction-gradient: to top;
  --direction-translate: 80px;
}
.order::after {
  content: '';
  background-image: linear-gradient(var(--direction-gradient), var(--direction-color), transparent 50%);
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: translateY(var(--direction-translate));
  transition: transform 0.3s var(--ease-out);
}
.order:focus-within::after {
  transform: translateY(0);
}
