.root {
  display: grid;
}

@media (width > 96rem) {
  .root {
    grid-template-columns: auto 1fr 450px;
    grid-template-areas:
      'nav chart form';
  }
}

@media (width > 64rem) and (width <= 96rem) {
  .root {
    align-content: start;
    grid-template-columns: 1fr 450px;
    grid-template-areas:
      'nav nav'
      'chart form';
  }
}

@media (width <= 64rem) {
  .root {
    grid-template-areas:
      'nav'
      'form'
      'chart';
  }
}