@reference "tailwindcss";
@reference "#theme";

.root {
  display: grid;
}

@variant max-md {
  .root {
    grid-template-areas:
      'nav'
      'form'
      'chart';
  }
}

@variant md {
  .root {
    align-content: start;
    grid-template-columns: 1fr 450px;
    grid-template-areas:
      'nav nav'
      'chart form';
  }
}

@variant 2xl {
  .root {
    grid-template-columns: minmax(350px, auto) 1fr 450px;
    grid-template-areas:
      'nav chart form';
  }
  /* Edit budget don't have any navigation, we need to reduce the size */
  .root[data-edit-budget="true"] {
    max-width: 1520px;
    align-content: start;
    grid-template-columns: 1fr 450px;
    grid-template-areas:
      'nav nav'
      'chart form';
  }
}
