@reference "tailwindcss";
@reference "../../../theme.css";

.option.selected {
  order: -1;
}
.option.hidden:not(.selected) {
  display: none;
}

.option:hover {
  @apply bg-main-900/40;
}

.option input:focus-visible {
  outline: none;
}
.option:has(input:focus-visible) {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 1px solid white;
}
