.option.selected {
  order: -1;
}
.option.hidden:not(.selected) {
  display: none;
}
/* Last selected checkbox that is followed by a visible checkbox */
.option.selected:nth-last-child(1 of .selected):not(:nth-last-child(1 of :not(.hidden))),
/* Or the last option if it is selected*/
.option.selected:last-child {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
@supports selector(:has(a,b)) {
  .option input:focus-visible {
    outline: none;
  }
  .option:has(input:focus-visible) {
    background-color: rgba(255, 255, 255, 0.1);
    outline: 1px solid white;
  } 
}
