.option.selected {
  order: -1;
}
.option.hidden:not(.selected) {
  display: none;
}

@supports selector(:has(a, b)) {
  .option input:focus-visible {
    outline: none;
  }
  .option:has(input:focus-visible) {
    background-color: rgba(255, 255, 255, 0.1);
    outline: 1px solid white;
  }
}
