@reference "../../theme.css";

.main {
  display: grid;
  place-items: center;
  min-height: 60dvh;
  position: relative;
}
.main::before {
  content: "";
  position: absolute;
  pointer-events: none;
  inset: 0;
  z-index: -1;
  background-image: radial-gradient(circle at center, rgba(102, 255, 173, 0.4) 0%, rgba(16, 187, 213, 0.2) 25%, transparent 55%);
  animation: scale-radial 5s infinite alternate;
  transition: opacity 0.2s var(--ease-out);
}
.main[data-hidden="true"]::before {
  opacity: 0;
}

@keyframes scale-radial {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(3);
  }
}

.main-chart {
  display: grid;
  gap: 24px;
  border: solid 1px oklch(90% var(--chroma) var(--hue) / 0.5);
  padding: 24px;
  border-radius: 24px;
  @apply bg-black-gradient;
  position: relative;
  max-width: 80%;
}
.main-chart p {
  text-align: end;
}


.section {
  position: relative;
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 24px;
  border-block: solid 1px oklch(30% var(--level-chroma) var(--level-hue) / 0.8);
  background: url('/pattern/circle.svg');
}

.section::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: transform 1s var(--ease-out);
  transform: translateX(-100%);
  background: radial-gradient(farthest-corner at 0% 50% in oklch shorter hue, var(--level-color), transparent 80%);
}

.section:hover::before {
  transform: translateX(0);
}

.section:nth-child(1) {
  --level-color: oklch(40% 0.1 200 / 0.5);
}
.section:nth-child(2) {
  --level-color: oklch(50% 0.2 200 / 0.5);
}
.section:nth-child(3) {
  --level-color: oklch(60% 0.2 120 / 0.5);
}

.section h2 {
  place-self: center start;
  font-size: 2.5rem;
  padding-inline-start: 40px;
}