.main {
  display: grid;
  place-items: center;
  height: 80dvh;
  position: relative;
}
.main::before {
  content: "";
  position: absolute;
  border-right: solid 1px oklch(90% var(--chroma) var(--hue) / 0.5);
  height: 100dvh;
  top: 80%;
  left: 50%;
  z-index: -1;
}
.main-chart {
  display: grid;
  gap: 24px;
  border: solid 1px oklch(90% var(--chroma) var(--hue) / 0.5);
  padding: 24px;
  border-radius: 24px;
  background: url('/pattern/circle.svg');
}
.main-chart p {
  text-align: end;
}


.section {
  position: relative;
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 24px;
  border-block: solid 1px oklch(30% var(--level-chroma) var(--level-hue) / 0.8);
  background: url('/pattern/circle.svg');
}

.section::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: transform 1s var(--ease-out);
  transform: translateX(-100%);
  background: radial-gradient(farthest-corner at 0% 50% in oklch shorter hue, var(--level-color), transparent 80%);
}

.section:hover::before {
  transform: translateX(0);
}

.section:nth-child(1) {
  --level-color: oklch(40% 0.1 200 / 0.5);
}
.section:nth-child(2) {
  --level-color: oklch(50% 0.2 200 / 0.5);
}
.section:nth-child(3) {
  --level-color: oklch(60% 0.2 120 / 0.5);
}

.section h2 {
  place-self: center start;
  font-size: 2.5rem;
  padding-inline-start: 40px;
}