.root {
  display: grid;
  place-content: start;
  gap: 32px;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "search search"
    "tabs tabs"
    "amount filters"
    "list list";
  place-items: stretch;
  margin-inline: auto;
  max-width: 1280px;
  width: 100%;
  padding: 16px;
}

/* Below SM */
@media (max-width: 40rem) {
  .root {
    grid-template-columns: 1fr; 
    gap: 16px;
    grid-template-areas:
      "search"
      "tabs"
      "filters"
      "amount"
      "list";
  }
}