.root {
  display: grid;
  place-content: start;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "search search"
    "tabs filters"
    "list list";
  place-items: stretch;
  margin-inline: auto;
  max-width: 1280px;
  width: 100%;
}
