@reference "tailwindcss";
@reference "#theme";

.spread:has(input[type='radio']:checked) .spread-custom {
  @apply text-main-0/60;
}
.spread:has(input[type='number']:invalid) .spread-custom {
  @apply text-error border-error;
}

.spread-custom input:placeholder-shown {
  flex: 1;
}
.spread-custom input:placeholder-shown + .suffix {
  opacity: 0;
}
