.select-token:focus-visible + label {
  outline: solid 1px white;
}
.select-token:checked + label {
  border: solid 1px white;
}
.select-token:disabled + label {
  opacity: 0.5;
  cursor: not-allowed;
}
.select-token:not(:checked):not(:disabled):hover + label {
  outline: solid 1px rgba(164, 164, 164, 1);
}
.budget-mode:checked + label {
  color: white;
  background-color: #404040;
}
.budget-mode:focus-visible + label {
  outline: solid 1px white;
}
.budget-mode:not(:checked) + label {
  color: rgb(255 255 255 / 0.6);
}
.budget-mode:not(:checked):hover + label {
  color: rgb(255 255 255 / 0.8);
}
