.spread:has(input[type='radio']:checked) .spread-custom {
  @apply text-white/60 border-transparent;
}
.spread:has(input[type='number']:invalid) .spread-custom {
  @apply text-error border-error;
}

.spread-custom input:placeholder-shown {
  flex: 1;
}
.spread-custom input:placeholder-shown + .suffix {
  display: none;
}
