.progress {
  display: flex;
  gap: 8px;
  height: 24px;
  transition: gap 0.2s;
}
.allocation {
  border-radius: 8px;
  background-color: var(--buy);
  transition: flex-grow 0.2s;
}
.delta {
  border-radius: 8px;
  background-color: var(--buy);
  transition: flex-grow 0.2s;
}
.balance {
  border-radius: 8px;
  background-color: var(--buy);
  opacity: 0.4;
  transition: flex-grow 0.2s;
}