.strategy-list {
  contain: content;
  grid-template-columns: repeat(auto-fill, 375px);
  justify-content: center;
}
.strategy-list > li {
  height: 400px;
  max-width: 375px;
  /* content-visibility: auto; */ /* to prevent no tooltips when scrolling down */
  contain-intrinsic-size: 375px 400px;
}
