@reference "tailwindcss";
@reference "../../../theme.css";

.strategy-list {
  --items-width: 350px;
  contain: content;
  grid-template-columns: repeat(auto-fill, minmax(var(--items-width), 1fr));
  justify-content: center;
}
.strategy-item {
  aspect-ratio: 410 / 425;
  content-visibility: auto; /* to prevent no tooltips when scrolling down */
  contain-intrinsic-size: var(--items-width) calc(var(--items-width) * 410 / 425);
}

@keyframes open {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes open-item {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .animate-item {
    animation: open-item 200ms var(--delay, 0ms) backwards;
  }
}
@media (max-width: 80rem) {
  .strategy-list {
    grid-template-columns: repeat(auto-fill, var(--items-width));
  }
}
@media (max-width: 40rem) {
  .strategy-list {
    --items-width: 330px;
  }
}