@reference "tailwindcss";
@reference "#theme";

.main-menu {
  @apply text-main-0/50;
  position: sticky;
  top: 0;
  height: 80px;
  padding-inline: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 10px var(--color-shadow);
  z-index: 40;
}
@variant max-sm {
  .main-menu {
    padding-inline: 16px;
  }
}
.main-menu::before {
  content: "";
  inset: 0;
  backdrop-filter: blur(20px) saturate(150%);
  position: absolute;
  z-index: -1;
}