@reference "tailwindcss";
@reference "#theme";

html:has(.page) {
  scrollbar-gutter: stable;
}

.matrix-form[data-disabled='true'] .summary button {
  @apply bg-main-0;
  pointer-events: none;
  opacity: 0.4;
}

/* FIELD INPUTS */
.field {
  @apply input-container rounded-2xl;
  display: flex;
  align-items: center;
}
.field .prefix,
.field .suffix {
  display: flex;
  gap: 4px;
  align-items: center;
  text-wrap: nowrap;
  padding: 4px 8px;
  flex-shrink: 0;
}
.field input {
  flex: 1;
  width: 150px;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: transparent;
  text-align: end;
}
.field:has(input:focus-visible) {
  outline: solid 1px var(--color-main-0);
}
.field:has(input:user-invalid:not(:focus-visible)) {
  outline: solid 1px var(--color-error);
  color: var(--color-error);
}
.field input:focus-visible {
  outline: none;
}

/* PRICE INPUT */

.price {
  @apply input-container;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
}
.price > * {
  display: flex;
  align-items: center;
  gap: 8px;
}
.price input {
  background-color: transparent;
  width: 0;
  flex: 1;
  text-overflow: ellipsis;
  text-align: end;
}
.price input:focus-visible {
  outline: none;
}
.price label {
  display: flex;
  gap: 8px;
  align-items: center;
}
.price .price-action {
  @apply text-main-0/60;
  font-size: 0.8rem;
  justify-content: end;
  animation: scalein 0.2s ease-out;
}

.page {
  width: 100%;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-inline: auto;
}
.page h1, .page .save-locally {
  grid-template-columns: 1 / span 2;
}
.page h1 {
  margin: 0;
}
.page form {
  display: grid;
  gap: 24px;
}

.page form article, .page .save-locally {
  @apply surface rounded-2xl p-16;
  display: grid;
  gap: 16px;
}

.page .description {
  @apply text-main-0/60;
  font-size: 0.8rem;
}

.page .save-locally {
  @apply border-main-0/40;
  grid-column: 1/3;
  border-radius: 16px;
  padding: 16px;
  border-bottom: 1px solid;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.save-locally ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}
.save-locally ul:empty {
  display: none;
}
.save-locally li {
  @apply bg-main-800;
  border-radius: 8px;
  display: flex;
}
.save-locally li[aria-selected='true'] {
  @apply bg-main-700;
  outline: 1px solid var(--color-green);
}
.save-locally li > * {
  padding: 8px;
}
.save-locally li > *:hover {
  @apply bg-main-600;
  cursor: pointer;
}
.save-locally .select-base {
  @apply border-main-0/40;
  flex: 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 4px 8px;
  align-items: center;
  border-inline-end: 1px solid;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.save-locally .saved-matrix .remove {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.save-locally .main-icon {
  grid-row: 1/3;
}

.save-locally:has(li[aria-selected='true']) .add-save {
  display: none;
  transition: none;
}
.save-locally .add-save {
  transition-behavior: allow-discrete;
  transition-property: transform, opacity, display;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
  display: grid;
}
@starting-style {
  .save-locally .add-save {
    opacity: 0;
    transform: scale(0.8);
  }
}
.save-locally .add-save button {
  @apply btn-on-surface;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 4px 16px;
  align-items: center;
  justify-items: start;
  padding: 8px 16px;
  border-radius: 8px;
}

.base,
.price-config {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 16px;
}

.base .select {
  @apply btn-on-surface;
  padding: 8px;
  display: grid;
  gap: 8px 16px;
  justify-items: start;
  align-items: center;
  text-align: start;
  grid-template-columns: 32px auto 24px;
  grid-template-rows: 16px 16px;
  grid-template-areas:
    'logo title chevron'
    'logo description chevron';
}
.base .select img {
  grid-area: logo;
}
.base .select svg {
  grid-area: chevron;
}

.base input {
  width: 150px;
}

.quotes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pair-list {
  --pair-width: 320px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--pair-width), 1fr));
  gap: 24px;
}
.pair {
  @apply bg-main-800 rounded-2xl p-16;
  display: grid;
  gap: 16px;
  min-height: 400px;
}

.pair header {
  display: grid;
  gap: 8px;
}
.pair header h3 {
  margin-inline-end: auto;
}
.pair .quote-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.budget-list {
  @apply bg-main-700 p-8;
  display: grid;
  gap: 8px;
  border-radius: 8px;
}
.budget-list h3 {
  display: flex;
  gap: 8px;
  align-items: center;
}
.budget-list hr {
  align-self: center;
}
.budget {
  @apply input-container;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr 1fr;
  padding: 8px;
  align-items: center;
}
.budget input {
  background-color: transparent;
  flex: 1;
  width: 0;
  text-overflow: ellipsis;
}
.budget input:focus-visible {
  outline: none;
}
.budget .token {
  grid-column: 1 / 3;
  display: flex;
  gap: 8px;
  font-size: 1.3rem;
}
.budget label {
  @apply bg-main-800;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
  padding: 4px 8px;
  border-radius: 24px;
}
.budget label span {
  text-overflow: ellipsis;
  overflow: hidden;
}
.usd {
  @apply text-main-0/60;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 0.8rem;
}
.budget .balance {
  @apply text-main-0/60;
  justify-self: end;
  font-size: 0.8rem;
  animation: scalein 0.2s ease-out;
}
.budget .budget-error {
  grid-column: 1/3;
  display: none;
  color: var(--color-error);
  font-size: 0.8rem;
}
.budget:has(input:out-of-range:invalid) .budget-error {
  display: block;
}

.add-pair {
  @apply btn-on-surface flex gap-8 items-center rounded-full;
}

.summary {
  position: sticky;
  top: 80px;
  align-self: start;
  gap: 24px;
}
.summary h3 {
  margin-bottom: 16px;
}

.summary:has(button:disabled) button[type='submit'] {
  @apply bg-main-0;
  pointer-events: none;
  opacity: 0.4;
}

.summary ul {
  display: none;
}
.summary .strategy-card {
  @apply bg-main-800;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
}
.summary .strategy-card p {
  display: flex;
  flex-direction: column;
}
.summary .strategy-card button {
  grid-column: 1 / 3;
}

@keyframes scalein {
  from {
    transform-origin: center;
    transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes scaleout {
  to {
    transform-origin: center;
    transform: scale(0.9);
    opacity: 0;
  }
}

@media (max-width: 1350px) {
  .page form {
    grid-template-columns: 1fr;
  }
  .page .save-locally {
    grid-column: 1/2;
  }
}

@media (max-width: 630px) {
  .page .save-locally {
    flex-direction: column;
  }
  .save-locally ul {
    grid-auto-flow: row;
  }
  .base,
  .price-config {
    flex-direction: column;
  }
  .summary table,
  .price-ratio {
    display: none;
  }
  .summary ul {
    display: grid;
    gap: 16px;
  }
}
