.growwrap {
  display: grid;
}
.growwrap::after {
  /* Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) ' ';
  white-space: pre-wrap;
  visibility: hidden;
}
.growwrap > textarea {
  /* display: inline-block; */
  resize: none;
  overflow: hidden;
}
.growwrap > textarea,
.growwrap::after {
  /* Identical styling required!! */
  min-width: 0;
  border-radius: 1.125rem /* 18px */;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(7, 7, 7, var(--tw-bg-opacity)) /* #070707 */;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}
