.root-search:has(.input-search[aria-expanded="false"]) .listbox,
.root-search:has(.input-search[aria-expanded="false"]) .empty,
.root-search [role="option"][hidden="true"] {
  display: none;
}
.root-search:not(:has([role="option"]:not([hidden="true"]))) .listbox {
  display: none;
}
.root-search:has([role="option"]:not([hidden="true"])) .empty {
  display: none;
}
.input-search:placeholder-shown + button {
  display: none;
}
.root-search [role="option"] {
  content-visibility: auto;
  contain-intrinsic-size: 50px;
}