@starting-style {
  .root-search:has(.input-search[aria-expanded='true']) .dialog {
    opacity: 0;
    transform: translateY(10px);
  }
  .listbox:empty + .empty {
    opacity: 0;
    transform: translateY(-10px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .dialog,
  .listbox:empty + .empty {
    transition-behavior: allow-discrete;
    transition-property: opacity, transform, display;
    transition-duration: 0.3s;
  }
}

.dialog:has(.listbox:empty) header {
  display: none;
}

.root-search:has(.input-search[aria-expanded='false']) .dialog {
  display: none;
  opacity: 0;
  transform: scale(0.95);
}
.listbox {
  display: grid;
}
.listbox:empty {
  display: none;
}
.listbox:not(:empty) + .empty {
  display: none;
}
.input-search:placeholder-shown + button {
  display: none;
}
.root-search [role='option'] {
  content-visibility: auto;
  contain-intrinsic-size: 50px;
  height: 50px;
}
