.loading-sentence {
  grid-area: stack;
  animation: rolling-loading 3000ms var(--ease-in-out) both;
}

@keyframes rolling-loading {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20%, 80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}