.approve-warnings {
  display: none;
}
.form:has(:global(.warning-message)) .approve-warnings {
  @apply flex items-center gap-8 rounded-10 bg-background-900 p-20 text-14 font-weight-500 text-white/60;
}

.form:has(:global(.error-message)) button[type="submit"],
.form:has(:global(.warning-message)):has(input[name="approve-warning"]:not(:checked)) button[type="submit"] {
  opacity: 0.4;
  pointer-events: none;
}

.form > header, .form > article, .form > button {
  @apply animate-slideUp;
}
