@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: theme('colors.primary.DEFAULT');
  --primary-dark: theme('colors.primary.dark');
  /* We use CSS variable for the svg assets (fill & stop-color) */
  --buy: theme('colors.buy.DEFAULT');
  --sell: theme('colors.sell.DEFAULT');
  --warning: theme('colors.warning.DEFAULT');
  --warning-dark: theme('colors.warning.dark');
  --gradient-first: theme('colors.primaryGradient.first.DEFAULT');
  --gradient-middle: theme('colors.primaryGradient.middle.DEFAULT');
  --gradient-last: theme('colors.primaryGradient.last.DEFAULT');
  color-scheme: dark;
  accent-color: white;

  --main-menu-height: 80px;
  --mobile-menu-height: 80px;

  --ease-in: cubic-bezier(0.55, 0, 1, 0.45);
  --ease-out: cubic-bezier(0, 0.55, 0.45, 1);
  --ease-in-out: cubic-bezier(0.85, 0, 0.15, 1);
  --ease-back-in-out: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --ease-back-out: cubic-bezier(0.34, 1.56, 0.64, 1);
}

@layer base {
  html,
  body,
  #root {
    @apply text-white bg-black font-text min-h-screen;
  }

  html {
    scrollbar-gutter: stable both-edges; /* Prevent layout shifting */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-block: unset;
  }
  h1,
  h2,
  th {
    @apply font-title;
  }

  /** Some Browsers set outline on :focus instead of :focus-visible for svg element */
  svg *:focus {
    outline: none;
  }
  svg *:focus-visible {
    outline: 1px solid white;
  }

  .h-screen-mobile {
    @apply h-screen;
    height: -moz-available;
    height: -webkit-fill-available;
    height: stretch;
  }

  #root {
    @apply flex flex-col;
  }

  h1 {
    @apply text-36 font-weight-500 my-3;
  }

  h2 {
    @apply text-20 font-weight-500 my-2;
  }

  h3 {
    @apply text-18 font-weight-500;
  }

  /* Remove number input arrows */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }
  input[type='checkbox'] {
    -webkit-appearance: none;
    display: grid;
    place-items: center;
    border-radius: 4px;
  }
  input[type='checkbox']:not(:checked) {
    border: 1px solid rgb(255 255 255 / 0.6);
  }
  input[type='checkbox']:not(:checked):hover {
    border-color: rgb(255 255 255 / 0.8);
  }
  input[type='checkbox']:checked {
    border: 0px;
    color: rgba(22, 22, 22, var(--tw-text-opacity));
    background-image: linear-gradient(
      90deg,
      var(--gradient-first) 0%,
      var(--gradient-middle) 100%
    );
  }
  input[type='checkbox']:checked:hover {
    filter: brightness(1.2);
  }
  input[type='checkbox']::before {
    display: none;
    content: '';
    width: 65%;
    aspect-ratio: 1 / 1;
    pointer-events: none;
    background: url('assets/icons/check.svg') center / contain no-repeat;
  }
  input[type='checkbox']:checked::before {
    display: block;
  }

  details .toggle {
    transform: rotate(0);
    transition: transform 0.2s ease-in-out;
  }
  details[open] .toggle {
    transform: rotate(-180deg);
  }
  .bg-gradient {
    background-image: linear-gradient(
      90deg,
      var(--gradient-first),
      var(--gradient-middle),
      var(--gradient-last)
    );
  }
  .text-gradient {
    background-image: linear-gradient(
      to top,
      var(--gradient-first),
      var(--gradient-middle),
      var(--gradient-last)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer components {
  .main-menu {
    height: var(--main-menu-height);
    @apply px-content font-weight-500 flex w-full items-center justify-between bg-black text-white/50;
  }

  .mobile-menu {
    height: var(--mobile-menu-height);
    @apply font-weight-500 border-background-800 fixed bottom-0 z-40 flex w-full flex-shrink-0 items-center justify-around border-t bg-black px-10 text-white/50 md:hidden;
  }
}

@layer utilities {
  .bg-content {
    @apply border-background-800 border bg-black;
  }

  .px-content {
    @apply w-full px-10 md:px-20;
  }

  .loading-skeleton {
    @apply rounded-10 bg-background-900 animate-pulse;
  }
}

.statusBar {
  overflow: hidden;
}
.statusBar:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  will-change: transform;
  background: linear-gradient(
    90deg,
    rgba(0, 181, 120, 0.25) 37.5%,
    var(--gradient-first) 37.5%,
    var(--gradient-middle) 50%,
    rgba(0, 181, 120, 0.25) 50%,
    rgba(0, 181, 120, 0.25) 87.5%,
    var(--gradient-last) 87.5%
  );
  animation: 1.3s progress ease infinite;
}

@keyframes progress {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(50%);
  }
}

@keyframes carbonLoading {
  from {
    stroke-dashoffset: 5000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.dot-pulse {
  display: flex;
  position: relative;
  left: -9999px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 7px;
  height: 7px;
  border-radius: 5px;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

dialog.modal,
dialog.modal::backdrop {
  transition-behavior: allow-discrete;
  transition-property: display, overlay, opacity, transform;
  transition-duration: 0.5s;
  transition-timing-function: var(--ease-back-in-out);
}
@starting-style {
  dialog.modal[open] {
    opacity: 0;
    transform: translateY(100px);
  }
  dialog.modal[open]::backdrop {
    opacity: 0;
  }
}
dialog.modal:not([open]) {
  opacity: 0;
  transform: scale(0.8);
}
dialog.modal:not([open])::backdrop {
  opacity: 0;
}
dialog.modal form {
  @apply bg-background-900;
  border-radius: 8px;
  padding: 16px;
  max-width: 390px;
  transition: transform 0.3s var(--ease-out);
}
dialog.modal::backdrop {
  @apply bg-black/40;
  backdrop-filter: blur(8px);
}
