@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-menu-height: 80px;
  --mobile-menu-height: 80px;
}

@layer base {
  html,
  body,
  #root {
    @apply text-body bg-body font-gt-america;
  }

  html {
    @apply h-full;
  }

  body,
  #root {
    @apply h-screen;
  }

  main {
    @apply h-full overflow-y-scroll;
    height: calc(100% - var(--main-menu-height));
  }

  @media screen and (max-width: theme('screens.md')) {
    main {
      height: calc(100% - var(--mobile-menu-height) - var(--main-menu-height));
    }
  }

  h1 {
    @apply my-3 text-36 font-weight-500;
  }

  h2 {
    @apply my-2 text-20 font-weight-500;
  }

  h3 {
    @apply text-18 font-weight-500;
  }
}

@layer components {
  .main-menu {
    height: var(--main-menu-height);
    @apply bg-body flex w-full items-center justify-between px-10 font-weight-500 text-white/50 md:px-20;
  }

  .mobile-menu {
    height: var(--mobile-menu-height);
    @apply bg-body fixed bottom-0 z-40 flex w-full items-center justify-around border-t border-lightGrey px-10 font-weight-500 text-white/50 dark:border-darkGrey md:hidden;
  }
}

@layer utilities {
  .bg-body {
    @apply dark:bg-black;
  }

  .bg-content {
    @apply border border-lightGrey bg-white;
    @apply dark:border dark:border-darkGrey dark:bg-black;
  }

  .bg-secondary {
    @apply bg-fog dark:bg-charcoal;
  }

  .text-body {
    @apply text-charcoal dark:text-white;
  }

  .text-secondary {
    @apply text-14  text-charcoal/50 dark:text-white/50;
  }

  .loading-skeleton {
    @apply animate-pulse rounded-10 bg-silver;
  }
}
