@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-menu-height: 80px;
  --mobile-menu-height: 80px;
  --blue: rgba(0, 181, 120, 0.25);
  --cyan: rgba(0, 181, 120, 0.25);
  --green: #00b578;
}

@layer base {
  html,
  body,
  #root {
    @apply text-body bg-body font-gt-america min-h-screen;
  }

  h1 {
    @apply my-3 text-36 font-weight-500;
  }

  h2 {
    @apply my-2 text-20 font-weight-500;
  }

  h3 {
    @apply text-18 font-weight-500;
  }

  /* Remove number input arrows */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }
}

@layer components {
  .main-menu {
    height: var(--main-menu-height);
    @apply bg-body px-content flex w-full items-center justify-between font-weight-500 text-white/50;
  }

  .mobile-menu {
    height: var(--mobile-menu-height);
    @apply bg-body z-40 sticky bottom-0 flex w-full flex-shrink-0 items-center justify-around border-t border-lightGrey px-10 font-weight-500 text-white/50 dark:border-darkGrey md:hidden;
  }


}

@layer utilities {
  .bg-body {
    @apply dark:bg-black;
  }

  .bg-content {
    @apply border border-lightGrey bg-white;
    @apply dark:border dark:border-darkGrey dark:bg-black;
  }

  .bg-secondary {
    @apply bg-silver;
  }

  .px-content {
    @apply px-10 md:px-20;
  }

  .text-body {
    @apply text-charcoal dark:text-white;
  }

  .text-secondary {
    @apply text-14 text-white/60;
  }

  .loading-skeleton {
    @apply animate-pulse rounded-10 bg-silver;
  }
}

.statusBar {
  overflow: hidden;
}
.statusBar:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: -100%;
  will-change: transform;
  background: linear-gradient(
    90deg,
    var(--blue) 0%,
    var(--blue) 25%,
    var(--cyan) 25%,
    var(--cyan) 37.5%,
    var(--green) 37.5%,
    var(--green) 50%,
    var(--blue) 50%,
    var(--blue) 75%,
    var(--cyan) 75%,
    var(--cyan) 87.5%,
    var(--green) 87.5%,
    var(--green) 100%
  );
  animation: 1.3s progress ease infinite;
}

@keyframes progress {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(50%);
  }
}

@keyframes carbonLoading {
  from {
    stroke-dashoffset: 5000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.dot-pulse {
  display:flex;
  position: relative;
  left: -9999px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 7px;
  height: 7px;
  border-radius: 5px;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

.react-modal-sheet-backdrop {
  /* custom styles */
}
.react-modal-sheet-container {
  @apply !bg-black;
}
.react-modal-sheet-header {
  /* custom styles */
}
.react-modal-sheet-drag-indicator {
  /* custom styles */
}
.react-modal-sheet-content {
  /* custom styles */
}