@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply text-body bg-body font-euclid;
  }

  h1 {
    @apply my-3 text-36 font-weight-500;
  }

  h2 {
    @apply my-2 text-20 font-weight-500;
  }

  h3 {
    @apply text-18 font-weight-500;
  }
}

@layer utilities {
  .bg-body {
    @apply dark:bg-black;
  }

  .bg-content {
    @apply border border-lightGrey bg-white;
    @apply dark:border dark:border-darkGrey dark:bg-black;
  }

  .bg-secondary {
    @apply bg-fog dark:bg-charcoal;
  }

  .text-body {
    @apply text-charcoal dark:text-white;
  }

  .text-secondary {
    @apply text-14  text-charcoal/50 dark:text-white/50;
  }
}
