@import 'tailwindcss';
@import './theme.css';

@utility bg-content {
  @apply border-main-800 border bg-main-900;
}

@utility px-content {
  @apply w-full px-10 md:px-20;
}


@layer utilities {
  :root {
    color-scheme: dark;
    accent-color: white;

    --main-menu-height: 80px;
    --mobile-menu-height: 80px;

    --ease-in: cubic-bezier(0.55, 0, 1, 0.45);
    --ease-out: cubic-bezier(0, 0.55, 0.45, 1);
    --ease-in-out: cubic-bezier(0.85, 0, 0.15, 1);
    --ease-back-in-out: cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --ease-back-out: cubic-bezier(0.34, 1.56, 0.64, 1);
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: oklch(92.8% 0.006 264.531);
  }

  html,
  body,
  #root {
    @apply text-white font-text min-h-screen;
  }

  #root {
    position: relative;
  }

  #root::before {
    --origin-translate: translate(-50dvw, -50dvh);
    content: '';
    position: fixed;
    z-index: -1;
    inset-inline: -50dvw;
    inset-block: -50dvh;
    background-image: radial-gradient(closest-side circle at center, var(--color-main-600) 0%, var(--color-main-800) 40%, var(--color-black) 100%);
    animation: move-gradient 20s infinite alternate;
  }
  #root.hide-bg::before {
    opacity: 0;
  }
  @media (max-width: 48rem) {
    #root::before {
      --origin-translate: translate(0, -50dvh);
    }
  }

  @keyframes move-gradient {
    from {
      transform: var(--origin-translate) scale(1);
    }
    to {
      transform: var(--origin-translate) scale(1.7);
    }
  }

  html {
    @apply text-white font-text;
    scrollbar-gutter: stable both-edges; /* Prevent layout shifting */
  }
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-block: unset;
  }
  h1,
  h2,
  th {
    @apply font-title;
  }

  button {
    cursor: pointer;
  }

  /** Some Browsers set outline on :focus instead of :focus-visible for svg element */
  svg *:focus {
    outline: none;
  }
  svg *:focus-visible {
    outline: 1px solid white;
  }

  .h-screen-mobile {
    height: 100dvh;
    height: -moz-available;
    height: -webkit-fill-available;
    height: stretch;
  }

  h1 {
    @apply text-36 font-medium;
  }

  h2 {
    @apply text-20 font-medium;
  }

  h3 {
    @apply text-18 font-medium;
  }

  /* Remove number input arrows */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type='number'] {
    -moz-appearance: textfield; /* Firefox */
  }
  input[type='checkbox'] {
    -webkit-appearance: none;
    display: grid;
    place-items: center;
    border-radius: 4px;
  }
  input[type='checkbox']:not(:checked) {
    border: 1px solid rgb(255 255 255 / 0.6);
  }
  input[type='checkbox']:not(:checked):hover {
    border-color: rgb(255 255 255 / 0.8);
  }
  input[type='checkbox']:checked {
    border: 0px;
    color: rgba(22, 22, 22, var(--tw-text-opacity));
    background-image: linear-gradient(
      90deg,
      var(--color-green) 0%,
      var(--color-secondary) 100%
    );
  }
  input[type='checkbox']:checked:hover {
    filter: brightness(1.2);
  }
  input[type='checkbox']::before {
    display: none;
    content: '';
    width: 65%;
    aspect-ratio: 1 / 1;
    pointer-events: none;
    background: url('assets/icons/check.svg') center / contain no-repeat;
  }
  input[type='checkbox']:checked::before {
    display: block;
  }

  details .toggle {
    transform: rotate(0);
    transition: transform 0.2s ease-in-out;
  }
  details[open] .toggle {
    transform: rotate(-180deg);
  }
}

.statusBar {
  overflow: hidden;
}
.statusBar:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  will-change: transform;
  background: var(--color-primary);
  animation: 2s progress var(--ease-in-out) infinite;
}

@keyframes progress {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(100%);
  }
}

@keyframes carbonLoading {
  from {
    stroke-dashoffset: 5000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.dot-pulse {
  display: flex;
  position: relative;
  left: -9999px;
  width: 7px;
  height: 7px;
  border-radius: 5px;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 7px;
  height: 7px;
  border-radius: 5px;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes card-entry {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}


/* Modal */
dialog.modal {
  background-color: transparent;
}

dialog.modal.center {
  margin: auto;
}

dialog.modal.side {
  margin-inline-start: auto;
  margin-block: 0;
  height: 100dvh;
  max-height: unset;
}

dialog.modal > * {
  @apply surface backdrop-blur-xs;
  padding: 24px;
  width: 500px;
}

dialog.modal.center > * {
  border-radius: 16px;
}

dialog.modal.side > * {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  height: 100dvh;
}

dialog.modal::backdrop {
  @apply bg-main-900/85;
}

@media (max-width: 640px) {
  dialog.modal.center {
    max-width: unset; /* Override browser max width */
    margin: auto; /* Force margin for Safari */
    margin-bottom: 0;
    margin-inline: 0;
    background-color: unset;
  }
  dialog.modal > *  {
    padding: 16px;
    padding-bottom: 24px;
    width: unset;
  }
  dialog.modal.center > * {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* Because Safari doesn't support transition on close we have to rely on animation */
dialog.modal,
dialog.modal::backdrop {
  animation-duration: 0.5s;
}
dialog.modal.center {
  animation-timing-function: var(--ease-back-in-out);
}
dialog.modal.side,
dialog.modal::backdrop {
  animation-timing-function: var(--ease-in-out);
}
dialog.modal.center[open] {
  animation-name: modal-center-entry;
}
dialog.modal.side[open] {
  animation-name: modal-side-entry;
}
dialog.modal[open]::backdrop {
  animation-name: fade;
}
dialog.modal.closing::backdrop {
  animation-name: fadeout;
  animation-fill-mode: forwards;
}
dialog.modal.closing.center {
  animation-name: modal-center-leave;
  animation-fill-mode: forwards;
}
dialog.modal.closing.side {
  animation-name: modal-side-leave;
  animation-fill-mode: forwards;
}
@media (max-width: 640px) {
  dialog.modal {
    animation-timing-function: var(--ease-in-out);
  }
  dialog.modal[open] {
    animation-name: modal-sm-entry;
  }
  dialog.modal.closing {
    animation-name: modal-sm-leave;
  }
}
@keyframes modal-center-entry {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
}
@keyframes modal-side-entry {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes modal-sm-entry {
  0% {
    transform: translateY(100%);
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes modal-center-leave {
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
@keyframes modal-side-leave {
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes modal-sm-leave {
  100% {
    transform: translateY(100%);
  }
}
