:root {
  --hue: 206;
  --chroma: 0.02; /* Recommended 0.01, 0.02 */

  --error-hue: 10;
  --sell-hue: 15;
  --buy-hue: 170;

  --main-gradient: linear-gradient(var(--gradient-direction, 180deg), var(--main-gradient-from), var(--main-gradient-to));
  --buy-gradient: linear-gradient(to bottom, var(--color-buy), var(--color-buy-dark));
  --sell-gradient: linear-gradient(to bottom, var(--color-sell), var(--color-sell-dark));
  --error-gradient: linear-gradient(to bottom, var(--color-error), var(--color-error-dark));
  --glass-shadow:
    /* Elevation */
    0 0 5px var(--color-shadow),
    /* Top left */
    inset 1px 1px 0 -1px oklch(100% var(--chroma) var(--hue) / 40%),
    inset 2px 2px 0 -1px oklch(100% var(--chroma) var(--hue) / 10%),
    /* Bottom right */
    inset -1px -1px 0 -1px oklch(100% var(--chroma) var(--hue) / 30%),
    inset -2px -2px 0 -1px oklch(100% var(--chroma) var(--hue) / 10%),
    /* Shadow bottom right */
    0px 1px 3px 0px var(--color-shadow);
  --flat-glass-shadow:
    /* Top left */
    inset 1px 1px 0 -1px oklch(100% var(--chroma) var(--hue) / 40%),
    inset 2px 2px 0 -1px oklch(100% var(--chroma) var(--hue) / 10%),
    /* Bottom right */
    inset -1px -1px 0 -1px oklch(100% var(--chroma) var(--hue) / 30%),
    inset -2px -2px 0 -1px oklch(100% var(--chroma) var(--hue) / 10%);
}


/* Color Scheme */
@utility light-scheme {
  --color-main-0: oklch(0 0.01 var(--hue));
  --color-main-50: oklch(0.2 0.06 var(--hue));
  --color-main-100: oklch(0.30 0.05 var(--hue));
  --color-main-200: oklch(0.4 0.06 var(--hue));
  --color-main-300: oklch(0.6 0.07 var(--hue));
  --color-main-400: oklch(0.70 0.06 var(--hue));
  --color-main-500: oklch(0.8 0.05 var(--hue));
  --color-main-600: oklch(0.85 0.04 var(--hue));
  --color-main-700: oklch(0.9 0.03 var(--hue));
  --color-main-800: oklch(0.95 0.02 var(--hue));
  --color-main-900: oklch(0.99 0.02 var(--hue));
  --color-main-950: oklch(1 0.01 var(--hue));

  --color-primary: oklch(0.4 .2 var(--hue));
  --color-green: oklch(0.45 0.2 160);
  --color-secondary: oklch(0.5 0.3 204);
  --color-tertiary: oklch(0.8 .3 185);

  --color-error: oklch(0.7 0.21 10.77);
  --color-error-dark: oklch(0.56 0.25 16.46);
  --color-sell: oklch(0.55 0.24 16.66);
  --color-sell-dark: oklch(.40 .28 var(--sell-hue));
  --color-buy: oklch(0.55 0.21 171.56);
  --color-buy-dark: oklch(0.40 0.16 161.03);
  --color-success: oklch(0.5 .2 160);
  --color-warning: oklch(0.5 .2 57);

  --color-shadow: oklch(0.4 0.06 var(--hue) / 40%);

  /* Background of the app */
  --app-background: radial-gradient(closest-side circle at center, var(--color-main-950) 40%, var(--color-main-700) 100%);
  /* Colors used for the gradient */
  --main-gradient-from: oklch(0.7 0.13 160);
  --main-gradient-to: oklch(0.7 0.13 214);

  color-scheme: light;
  accent-color: var(--color-main-0);
}
@utility dark-scheme {
  --color-main-0: oklch(1 0.01 var(--hue));
  --color-main-50: oklch(0.97 0.01 var(--hue));
  --color-main-100: oklch(0.90 0.04 var(--hue));
  --color-main-200: oklch(0.8 0.06 var(--hue));
  --color-main-300: oklch(0.71 0.06 var(--hue));
  --color-main-400: oklch(0.62 0.06 var(--hue));
  --color-main-500: oklch(0.53 0.06 var(--hue));
  --color-main-600: oklch(0.45 0.05 var(--hue));
  --color-main-700: oklch(0.37 0.06 var(--hue));
  --color-main-800: oklch(0.27 0.05 var(--hue));
  --color-main-900: oklch(0.18 0.03 var(--hue));
  --color-main-950: oklch(0.1 0.02 var(--hue));

  --color-primary: oklch(0.8 0.3 var(--hue));
  --color-green: oklch(0.80 0.2 160);
  --color-secondary: oklch(0.80 0.2 215);
  --color-tertiary: oklch(0.80 0.2 185);

  --color-error: oklch(0.70 0.2 var(--error-hue));
  --color-error-dark: oklch(0.50 0.3 var(--error-hue));
  --color-sell: oklch(0.70 0.2 var(--sell-hue));
  --color-sell-dark: oklch(0.70 0.28 var(--sell-hue));
  --color-buy: oklch(0.80 0.2 var(--buy-hue));
  --color-buy-dark: oklch(0.60 0.3 var(--buy-hue));
  --color-success: oklch(0.70 0.2 160);
  --color-warning: oklch(0.70 0.2 57);

  --color-shadow: oklch(0.1 0.02 var(--hue) / 25%);

  --app-background: radial-gradient(closest-side circle at center, var(--color-main-600) 0%, var(--color-main-800) 40%, var(--color-main-950) 100%);
  --main-gradient-from: oklch(80% .2 160);
  --main-gradient-to: oklch(80% .2 215);

  color: var(--color-main-0);
  color-scheme: dark;
  accent-color: var(--color-main-0);
}


@theme {
  --color-main-0: oklch(1 0.01 var(--hue));
  --color-main-50: oklch(0.97 0.01 var(--hue));
  --color-main-100: oklch(0.90 0.04 var(--hue));
  --color-main-200: oklch(0.8 0.06 var(--hue));
  --color-main-300: oklch(0.71 0.06 var(--hue));
  --color-main-400: oklch(0.62 0.06 var(--hue));
  --color-main-500: oklch(0.53 0.06 var(--hue));
  --color-main-600: oklch(0.45 0.05 var(--hue));
  --color-main-700: oklch(0.37 0.06 var(--hue));
  --color-main-800: oklch(0.27 0.05 var(--hue));
  --color-main-900: oklch(0.18 0.03 var(--hue));
  --color-main-950: oklch(0.1 0.02 var(--hue));

  --color-primary: oklch(0.8 0.3 var(--hue));
  --color-green: oklch(0.80 0.2 160);
  --color-secondary: oklch(0.80 0.2 215);
  --color-tertiary: oklch(0.80 0.2 185);
  
  --color-error: oklch(0.70 0.2 var(--error-hue));
  --color-error-dark: oklch(0.50 0.3 var(--error-hue));
  --color-sell: oklch(0.70 0.2 var(--sell-hue));
  --color-sell-dark: oklch(0.70 0.28 var(--sell-hue));
  --color-buy: oklch(0.80 0.2 var(--buy-hue));
  --color-buy-dark: oklch(0.60 0.3 var(--buy-hue));
  --color-success: oklch(0.70 0.2 160);
  --color-warning: oklch(0.75 0.2 57);
  
  --color-black: oklch(0.2 var(--chroma) var(--hue));
  --color-white: oklch(1 var(--chroma) var(--hue));


  --text-10: 0.625rem;
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-30: 1.875rem;
  --text-36: 2.25rem;

  --spacing: 1px;

  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 18px;

  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-fade: fade var(--duration, 200ms) var(--delay, 0s);
  --animate-scale-up: fade var(--duration, 400ms) var(--delay, 0s) var(--easing, var(--ease-out)) both,
    scale var(--duration, 400ms) var(--delay, 0s) var(--easing, var(--ease-out)) both;
  --animate-slide-up: fade var(--duration, 400ms) var(--delay, 0s) var(--easing, var(--ease-out)) both,
    slideY var(--duration, 400ms) var(--delay, 0s) var(--easing, var(--ease-out)) both;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
}
@keyframes scale {
  from {
    transform: scale(var(--from-scale, 0.8));
  }
}
@keyframes slideY {
  from {
    transform: translateY(var(--from-translate, 100px));
  }
}

@utility font-title {
  font-family: Carbon-Title, system-ui, sans-serif;
}
@utility font-text {
  font-family: Carbon-Text, system-ui, sans-serif;
}

@utility writing-sideways {
  writing-mode: sideways-lr;
}

@utility flat-glass-shadow {
  box-shadow: var(--flat-glass-shadow);
}

@utility glass-shadow {
  box-shadow: var(--glass-shadow);
}


@utility text-gradient {
  background-image: linear-gradient(
    var(--gradient-direction, 180deg),
    var(--main-gradient-from),
    var(--main-gradient-to)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@utility border-gradient {
  background: linear-gradient(var(--color-main-800), var(--color-main-800)) padding-box, var(--main-gradient) border-box;
  border-width: 1px;
  border-color: transparent;
}

@utility gradient-direction-* {
  --gradient-direction: --value([*]);
}

@utility bg-gradient {
  background-image: var(--main-gradient);
}

@utility fill-gradient {
  fill: url("#svg-main-gradient");
}
@utility  stroke-gradient {
  stroke: url("#svg-main-gradient");
}
@utility fill-sell-gradient {
  fill: url('#svg-sell-gradient');
}
@utility fill-buy-gradient {
  fill: url('#svg-buy-gradient');
}

@utility surface {
  @apply glass-shadow bg-linear-to-br from-main-500/40 to-main-600/40;
}

@utility btn {
  transition: background-color 100ms var(--ease-in-out);
  &:hover {
    @apply bg-main-900/20;
  }
  &:active {
    @apply bg-main-900/40;
  }
}

@utility btn-main-gradient {
  @apply rounded-full text-14;
  box-shadow: 0 5px 5px 0 var(--color-shadow);
  color: var(--color-main-950);
  padding: 12px 20px;
  transition: transform 0.1s var(--ease-out);
  text-align: center;
  position: relative;
  isolation: isolate;
  overflow: clip;
  &:disabled, &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &:active {
    transform: scale(0.9);
  }
  &::before {
    --gradient-direction: 60deg;
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: linear-gradient(170deg, var(--main-gradient-from), var(--main-gradient-to));
    scale: 1 2;
    transform-origin: top;
    transition: transform 0.5s var(--ease-in-out);
  }
  &:hover::before {
    transform: translateY(-50%);
  }
}


@utility btn-primary {
  @apply rounded-full text-14 bg-primary/80;
  color: var(--color-main-950);
  padding: 8px 16px;
  transition: transform 0.1s var(--ease-out);
  text-align: center;
  &:hover {
    @apply bg-primary;
  }
  &:disabled, &.disabled {
    opacity: 50%;
    pointer-events: none;
  }
  &:active {
    transform: scale(0.9);
  }
}
@utility btn-on-background {
  @apply rounded-full text-14 bg-main-500/60 glass-shadow;
  color: var(--color-main-0);
  padding: 8px 16px;
  transition: transform 0.1s var(--ease-out);
  text-align: center;
  &:hover {
    @apply bg-main-400/60;
  }
  &:disabled, &.disabled {
    opacity: 50%;
    pointer-events: none;
  }
  &:active {
    transform: scale(0.9);
  }
}

@utility btn-on-surface {
  @apply rounded-full text-14 bg-main-500/60 flat-glass-shadow;
  color: var(--color-main-0);
  padding: 8px 16px;
  transition: transform 0.1s var(--ease-out);
  text-align: center;
  &:hover {
    @apply bg-main-400/60;
  }
  &:disabled, &.disabled {
    opacity: 50%;
    pointer-events: none;
  }
  &:active {
    transform: scale(0.9);
  }
}



@utility bg-buy-gradient {
  background-image: var(--buy-gradient);
}
@utility btn-buy-gradient {
  @apply rounded-full text-14;
  background-image: var(--buy-gradient);
  text-align: center;
  padding: 12px 20px;
  transition: transform 0.1s var(--ease-out);
  color: var(--color-main-950);
  &:hover {
    background-color: var(--color-buy-dark);
    background-image: none;
  }
  &:active {
    background-color: var(--color-buy);
    background-image: none;
    transform: scale(0.9);  
  }
}
@utility bg-sell-gradient {
  background-image: var(--sell-gradient);
}
@utility btn-sell-gradient {
  @apply rounded-full text-14;
  background-image: var(--sell-gradient);
  text-align: center;
  padding: 12px 20px;
  transition: transform 0.1s var(--ease-out);
  color: var(--color-main-950);
  &:hover {
    background-color: var(--color-sell-dark);
    background-image: none;
  }
  &:active {
    background-color: var(--color-sell);
    background-image: none;
    transform: scale(0.9);  
  }
}
@utility btn-error-gradient {
  @apply rounded-full;
  background-image: var(--error-gradient);
  text-align: center;
  padding: 12px 20px;
  transition: transform 0.1s var(--ease-out);
  color: var(--color-main-950);
  &:hover {
    background-color: var(--color-error);
    background-image: none;
  }
  &:active {
    background-color: var(--color-error);
    background-image: none;
    transform: scale(0.9);  
  }
}

@utility input-container {
  @apply border border-transparent bg-main-900/40 hover:bg-main-900/60 p-16 focus-within:border-main-400;
  box-shadow: inset 0 0 10px var(--color-shadow);
  &:has(:disabled) {
    @apply bg-main-900/40;
  }
  &:has(.text-warning) {
    @apply border-warning/80 focus-within:border-warning;
  }
  &:has(.text-error) {
    @apply border-error/80 focus-within:border-error;
  }
}

@utility tab-list {
  @supports (anchor-name: --myanchor) {
    position: relative;
    isolation: isolate;
    &::before {
      @apply glass-shadow from-main-400/40 to-main-500/40;
      content: "";
      position-anchor: --tab-selected;
      transition-property: top, left, width, height;
      position: absolute;
      transition-duration: 400ms;
      transition-timing-function: var(--ease-in-out);
      background: var(--tab-background, linear-gradient(180deg, var(--tw-gradient-from), var(--tw-gradient-to)));
      z-index: -1;
      border-radius: inherit;
      border-width: 1px;
      border-color: transparent;

      top: anchor(top);
      left: anchor(left);
      width: anchor-size(width);
      height: anchor-size(height);
    }
  }
}
@utility tab-anchor {
  transition-property: color, transform;
  transition-duration: 100ms;
  transition-timing-function: var(--ease-in-out);
  border-radius: inherit;
  &:hover {
    @apply text-main-0;
  }
  &:active {
    transform: scale(0.9);
  }
}
@utility tab-focus {
  @supports (anchor-name: --myanchor) {
    @apply text-main-0;
    anchor-name: --tab-selected;
  }
  @supports not (anchor-name: --myanchor) {
    @apply glass-shadow from-main-400/40 to-main-500/40 text-main-0;
    background: var(--tab-background, linear-gradient(180deg, var(--tw-gradient-from), var(--tw-gradient-to)));
  }
}

@custom-variant aria-page (&[aria-current="page"]);


@utility table-col-span-all {
  column-span: all;
}

@utility grid-stack-container {
  display: grid;
  grid-template-areas: "stack";
}
@utility grid-stack {
  grid-area: stack;
}

@utility grid-area-* {
  grid-area: --value([*]);
}
@utility grid-fill-* {
  grid-template-columns: repeat(auto-fill, minmax(calc(--value(integer) * 1px), 1fr))
}

@utility table {
  @apply surface;
  width: 100%;
  border-collapse: collapse;
  border-radius: 16px;
  font-size: 14px;
  & thead tr {
    @apply border-b border-b-main-900/40 text-main-0/80;
  }
  & thead th {
    text-align: start;
    font-weight: normal;
    white-space: nowrap;
  }
  & tbody tr:not(:last-child) td {
    @apply border-b border-b-main-900/40;
  }
  & td, & th {
    padding: 16px;
  }
  & td:first-child, & th:first-child {
    padding-inline-start: 24px;
  }
  & td:last-child, & th:last-child {
    text-align: end;
    padding-inline-end: 24px;
  }
  & tfoot tr {
    @apply border-t border-t-main-900/40 text-main-0/80;
  }
}


@utility form {
  &:invalid button[type="submit"],
  &:has(.error-message) button[type="submit"],
  &:has(.loading-message) button[type="submit"],
  &:has(.approve-warnings input:not(:checked)) button[type="submit"] {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &:invalid button[type="submit"]:hover,
  &:has(.error-message) button[type="submit"]:hover {
    border: none;
  }

  &:invalid .add-cart,
  &:has(.error-message) .add-cart,
  &:has(.loading-message) .add-cart {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

@custom-variant aria-page (&[aria-current="page"]);
@custom-variant aria-location (&[aria-current="location"]);



@custom-variant sm {
  @media (width >= 40rem) and (orientation: landscape) {
    @slot;
  }
}
@custom-variant md {
  @media (width >= 48rem) and (orientation: landscape) {
    @slot;
  }
}
@custom-variant lg {
  @media (width >= 64rem) and (orientation: landscape) {
    @slot;
  }
}
@custom-variant xl {
  @media (width >= 80rem) and (orientation: landscape) {
    @slot;
  }
}
@custom-variant 2xl {
  @media (width >= 96rem) and (orientation: landscape) {
    @slot;
  }
}

@custom-variant max-sm {
  @media (width < 40rem), (orientation: portrait) {
    @slot;
  }
}
@custom-variant max-md {
  @media (width < 48rem) and (orientation: landscape), (orientation: portrait) {
    @slot;
  }
}