:root {
  --hue: 205;
  --chroma: 0.03; /* Recommended 0.01, 0.02 */
  --sell-hue: 15;
  --buy-hue: 170;
}
@theme {
  --color-background-50: oklch(0.99 var(--chroma) var(--hue));
  --color-background-100: oklch(0.97 var(--chroma) var(--hue));
  --color-background-200: oklch(0.92 var(--chroma) var(--hue));
  --color-background-300: oklch(0.87 var(--chroma) var(--hue));
  --color-background-400: oklch(0.72 var(--chroma) var(--hue));
  --color-background-500: oklch(0.56 var(--chroma) var(--hue));
  --color-background-600: oklch(0.44 var(--chroma) var(--hue));
  --color-background-700: oklch(0.37 var(--chroma) var(--hue));
  --color-background-800: oklch(0.27 var(--chroma) var(--hue));
  --color-background-900: oklch(0.2 var(--chroma) var(--hue));

  --color-primary: oklch(0.80 0.2 159.5); /* #67D79F */
  --color-secondary: oklch(0.80 0.2 214.3); /* #10BBD8 */
  --color-tertiary: oklch(0.80 0.2 184.63); /* #3bcaba */

  --color-error: oklch(0.70 0.2 15); /* #D86371 */
  --color-sell: oklch(0.70 0.2 var(--sell-hue)); /* #D86371 */
  --color-sell-dark: oklch(0.70 0.28 var(--sell-hue));
  --color-buy: oklch(0.80 0.2 var(--buy-hue)); /* #00B578 */
  --color-buy-dark: oklch(0.60 0.3 var(--buy-hue));
  --color-success: oklch(0.70 0.2 160); /* #00B578 */
  --color-warning: oklch(0.75 0.2 57); /* #ff8a00 */

  --color-black: oklch(0.13 var(--chroma) var(--hue));
  --color-white: oklch(1 var(--chroma) var(--hue));


  --text-10: 0.625rem;
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-30: 1.875rem;
  --text-36: 2.25rem;

  --spacing: 1px;

  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 18px;

  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-fade: fade var(--duration, 200ms) var(--delay, 0s);
  --animate-scale-up: fade var(--duration, 400ms) var(--delay, 0s) var(--easing, var(--ease-out)) both,
    scale var(--duration, 400ms) var(--delay, 0s) var(--easing, var(--ease-out)) both;
  --animate-slide-up: fade var(--duration, 400ms) var(--delay, 0s) var(--easing, var(--ease-out)) both,
    slideY var(--duration, 400ms) var(--delay, 0s) var(--easing, var(--ease-out)) both;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
}
@keyframes scale {
  from {
    transform: scale(var(--from-scale, 0.8));
  }
}
@keyframes slideY {
  from {
    transform: translateY(var(--from-translate, 100px));
  }
}

@utility font-title {
  font-family: Carbon-Title, system-ui, sans-serif;
}
@utility font-text {
  font-family: Carbon-Text, system-ui, sans-serif;
}

@utility writing-sideways {
  writing-mode: sideways-lr;
}

@utility text-gradient {
  background-image: linear-gradient(
    to top,
    var(--color-primary),
    var(--color-secondary),
    var(--color-tertiary)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility bg-gradient {
  background-image: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary),
    var(--color-tertiary)
  );
}

@utility bg-white-gradient {
  background-image: linear-gradient(150deg, oklch(90% var(--chroma) var(--hue) / 0.1), oklch(90% var(--chroma) var(--hue) / 0.15));
}
@utility bg-black-gradient {
  background-image: linear-gradient(150deg, oklch(10% var(--chroma) var(--hue) / 0.5), oklch(10% var(--chroma) var(--hue) / 0.8));
}
@utility bg-buy-gradient {
  background-image: linear-gradient(150deg, var(--color-buy), var(--color-buy-dark));
}
@utility bg-sell-gradient {
  background-image: linear-gradient(150deg, var(--color-sell), var(--color-sell-dark));
}

