:root {
  --hue: 206;
  --chroma: 0.02; /* Recommended 0.01, 0.02 */

  --error-hue: 10;
  --sell-hue: 15;
  --buy-hue: 170;

  --dark-gradient: linear-gradient(to bottom, var(--color-main-600), var(--color-main-800), var(--color-main-950));

  --main-gradient: linear-gradient(var(--gradient-direction, 180deg), var(--color-green), var(--color-secondary));
  --buy-gradient: linear-gradient(150deg, var(--color-buy), var(--color-buy-dark));
  --sell-gradient: linear-gradient(150deg, var(--color-sell), var(--color-sell-dark));
  --error-gradient: linear-gradient(150deg, var(--color-error), var(--color-error-dark));
  --glass-shadow:
    /* Elevation */
    0 5px 5px oklch(10% var(--chroma) var(--hue) / 25%),
    /* Top left */
    inset 1px 1px 0 -1px oklch(100% var(--chroma) var(--hue) / 40%),
    inset 2px 2px 0 -1px oklch(100% var(--chroma) var(--hue) / 10%),
    /* Bottom right */
    inset -1px -1px 0 -1px oklch(100% var(--chroma) var(--hue) / 30%),
    inset -2px -2px 0 -1px oklch(100% var(--chroma) var(--hue) / 10%),
    /* Shadow bottom right */
    0px 5px 15px 0px oklch(20% var(--chroma) var(--hue) / 25%);
}

@theme {
  --color-main-50: oklch(0.97 0.01 var(--hue));
  --color-main-100: oklch(0.90 0.04 var(--hue));
  --color-main-200: oklch(0.8 0.06 var(--hue));
  --color-main-300: oklch(0.71 0.06 var(--hue));
  --color-main-400: oklch(0.62 0.06 var(--hue));
  --color-main-500: oklch(0.53 0.06 var(--hue));
  --color-main-600: oklch(0.45 0.05 var(--hue));
  --color-main-700: oklch(0.37 0.06 var(--hue));
  --color-main-800: oklch(0.27 0.05 var(--hue));
  --color-main-900: oklch(0.18 0.03 var(--hue));
  --color-main-950: oklch(0.1 0.02 var(--hue));
  
  --color-primary: oklch(0.8 0.3 var(--hue));
  --color-green: oklch(0.80 0.2 159.5);
  --color-secondary: oklch(0.80 0.2 214.3);
  --color-tertiary: oklch(0.80 0.2 184.63);

  --color-error: oklch(0.70 0.2 var(--error-hue));
  --color-error-dark: oklch(0.50 0.3 var(--error-hue));
  --color-sell: oklch(0.70 0.2 var(--sell-hue));
  --color-sell-dark: oklch(0.70 0.28 var(--sell-hue));
  --color-buy: oklch(0.80 0.2 var(--buy-hue));
  --color-buy-dark: oklch(0.60 0.3 var(--buy-hue));
  --color-success: oklch(0.70 0.2 160);
  --color-warning: oklch(0.75 0.2 57);

  --color-black: var(--color-main-950);
  --color-white: oklch(1 var(--chroma) var(--hue));


  --text-10: 0.625rem;
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-30: 1.875rem;
  --text-36: 2.25rem;

  --spacing: 1px;

  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 18px;

  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-fade: fade var(--duration, 200ms) var(--delay, 0s);
  --animate-scale-up: fade var(--duration, 400ms) var(--delay, 0s) var(--easing, var(--ease-out)) both,
    scale var(--duration, 400ms) var(--delay, 0s) var(--easing, var(--ease-out)) both;
  --animate-slide-up: fade var(--duration, 400ms) var(--delay, 0s) var(--easing, var(--ease-out)) both,
    slideY var(--duration, 400ms) var(--delay, 0s) var(--easing, var(--ease-out)) both;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
}
@keyframes scale {
  from {
    transform: scale(var(--from-scale, 0.8));
  }
}
@keyframes slideY {
  from {
    transform: translateY(var(--from-translate, 100px));
  }
}

@utility font-title {
  font-family: Carbon-Title, system-ui, sans-serif;
}
@utility font-text {
  font-family: Carbon-Text, system-ui, sans-serif;
}

@utility writing-sideways {
  writing-mode: sideways-lr;
}

@utility glass-shadow {
  box-shadow: var(--glass-shadow);
}

@utility text-gradient {
  background-image: linear-gradient(
    var(--gradient-direction, 180deg),
    var(--color-green),
    var(--color-secondary)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@utility border-gradient {
  background: linear-gradient(var(--color-black), var(--color-black)) padding-box, var(--main-gradient) border-box;
  border-width: 2px;
  border-color: transparent;
}

@utility gradient-direction-* {
  --gradient-direction: --value([*]);
}

@utility bg-gradient {
  background-image: var(--main-gradient);
}

@utility fill-gradient {
  fill: url('#svg-brand-gradient');
}

@utility surface {
  @apply glass-shadow bg-linear-to-br from-main-500/40 to-main-600/40;
}


@utility btn-primary-gradient {
  --gradient-direction: 180deg;
  @apply rounded-full text-14 shadow-black/25;
  box-shadow: 0 5px 5px 0 var(--tw-shadow-color);
  background: var(--main-gradient);
  color: var(--color-black);
  padding: 12px 20px;
  transition: transform 0.1s var(--ease-out);
  text-align: center;
  &:hover {
    color: white;
    background: linear-gradient(180deg, #50C58A, var(--color-secondary));
  }
  &:disabled, &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &:active {
    transform: scale(0.9);
  }
}

@utility btn-secondary-gradient {
  @apply rounded-full text-14 shadow-black/25;
  box-shadow: 0 5px 5px 0 var(--tw-shadow-color);
  background: linear-gradient(to bottom, var(--color-main-400), var(--color-main-600), var(--color-main-700)) border-box;
  color: var(--color-white);
  padding: 12px 20px;
  transition: transform 0.1s var(--ease-out);
  text-align: center;
  &:hover {
    background: linear-gradient(to bottom, var(--color-main-500), var(--color-main-700), var(--color-main-900)) border-box;
  }
  &:disabled, &.disabled {
    background: linear-gradient(#061B1E) border-box;
    color: oklch(1 0 0 / 40%);
    pointer-events: none;
  }
  &:active {
    transform: scale(0.9);
  }
}
@utility btn-tertiary-gradient {
  @apply rounded-full text-14 shadow-main-700/80;
  box-shadow: 0 4px 15px 0 var(--tw-shadow-color);
  background: linear-gradient(to bottom, var(--color-main-600), var(--color-main-800), var(--color-main-950)) border-box;
  color: var(--color-white);
  padding: 12px 20px;
  transition: transform 0.1s var(--ease-out);
  text-align: center;
  &:hover {
    background: linear-gradient(to bottom, var(--color-main-700), var(--color-main-900), var(--color-main-950)) border-box;
  }
  &:disabled, &.disabled {
    background: linear-gradient(var(--color-black)) border-box;
    color: oklch(1 0 0 / 40%);
    pointer-events: none;
  }
  &:active {
    transform: scale(0.9);
  }
}

@utility btn-flat-secondary {
  @apply rounded-full text-14 bg-main-500/60 glass-shadow;
  color: var(--color-white);
  padding: 8px 16px;
  transition: transform 0.1s var(--ease-out);
  text-align: center;
  &:hover {
    @apply bg-main-400/60;
  }
  &:disabled, &.disabled {
    opacity: 50%;
    pointer-events: none;
  }
  &:active {
    transform: scale(0.9);
  }
}
@utility btn-flat-tertiary {
  @apply rounded-full text-14 bg-main-800/60 glass-shadow;
  color: var(--color-white);
  padding: 8px 16px;
  transition: transform 0.1s var(--ease-out);
  text-align: center;
  &:hover {
    @apply bg-main-600/60;
  }
  &:disabled, &.disabled {
    opacity: 50%;
    pointer-events: none;
  }
  &:active {
    transform: scale(0.9);
  }
}



@utility bg-buy-gradient {
  background-image: var(--buy-gradient);
}
@utility btn-buy-gradient {
  @apply rounded-full text-14;
  background-image: var(--buy-gradient);
  text-align: center;
  padding: 12px 20px;
  transition: transform 0.1s var(--ease-out);
  color: var(--color-black);
  &:hover {
    background-color: var(--color-buy-dark);
    background-image: none;
  }
  &:active {
    background-color: var(--color-buy);
    background-image: none;
    transform: scale(0.9);  
  }
}
@utility bg-sell-gradient {
  background-image: var(--sell-gradient);
}
@utility btn-sell-gradient {
  @apply rounded-full text-14;
  background-image: var(--sell-gradient);
  text-align: center;
  padding: 12px 20px;
  transition: transform 0.1s var(--ease-out);
  color: var(--color-black);
  &:hover {
    background-color: var(--color-sell-dark);
    background-image: none;
  }
  &:active {
    background-color: var(--color-sell);
    background-image: none;
    transform: scale(0.9);  
  }
}
@utility btn-error-gradient {
  @apply rounded-full;
  background-image: var(--error-gradient);
  text-align: center;
  padding: 12px 20px;
  transition: transform 0.1s var(--ease-out);
  color: var(--color-black);
  &:hover {
    background-color: var(--color-error);
    background-image: none;
  }
  &:active {
    background-color: var(--color-error);
    background-image: none;
    transform: scale(0.9);  
  }
}

@utility input-container {
  @apply border border-transparent bg-black hover:bg-black/60 p-16 focus-within:border-main-400;
}

@utility backdrop-black {
  background-image: linear-gradient(150deg, oklch(50% var(--chroma) var(--hue) / 0.5), oklch(30% var(--chroma) var(--hue) / 0.5));
  backdrop-filter: blur(20px);
}

@utility tab-list {
  @supports (anchor-name: --myanchor) {
    position: relative;
    isolation: isolate;
    &::before {
      @apply glass-shadow from-main-400/40 to-main-500/40;
      content: "";
      position-anchor: --tab-selected;
      transition-property: top, left, width, height;
      position: absolute;
      transition-duration: 400ms;
      transition-timing-function: var(--ease-in-out);
      background: var(--tab-background, linear-gradient(180deg, var(--tw-gradient-from), var(--tw-gradient-to)));
      z-index: -1;
      border-radius: inherit;
      border-width: 1px;
      border-color: transparent;

      top: anchor(top);
      left: anchor(left);
      width: anchor-size(width);
      height: anchor-size(height);
    }
  }
}
@utility tab-anchor {
  transition-property: color, transform;
  transition-duration: 100ms;
  transition-timing-function: var(--ease-in-out);
  border-radius: inherit;
  &:hover {
    color: white;
  }
  &:active {
    transform: scale(0.9);
  }
}
@utility tab-focus {
  color: white;
  anchor-name: --tab-selected;
}

@custom-variant aria-page (&[aria-current="page"]);
@utility fill-gradient {
  fill: url("#svg-brand-gradient");
}
@utility  stroke-gradient {
  stroke: url("#svg-brand-gradient");
}

@utility table-col-span-all {
  column-span: all;
}

@utility grid-stack {
  display: grid;
  grid-template-areas: "stack";
}

@utility grid-area-* {
  grid-area: --value([*]);
}
@utility grid-fill-* {
  grid-template-columns: repeat(auto-fill, minmax(calc(--value(integer) * 1px), 1fr))
}

@utility table {
  @apply surface;
  width: 100%;
  border-collapse: collapse;
  border-radius: 16px;
  font-size: 14px;
  & thead tr {
    border-bottom: 1px solid var(--color-main-900);
    color: oklch(100% 0 0 / 60%);
  }
  & thead th {
    text-align: start;
    font-weight: normal;
    white-space: nowrap;
  }
  & td, & th {
    padding: 16px;
  }
  & td:first-child, & th:first-child {
    padding-inline-start: 24px;
  }
  & td:last-child, & th:last-child {
    text-align: end;
    padding-inline-end: 24px;
  }
  & tfoot tr {
    border-top: 1px solid var(--color-main-900);
    color: oklch(100% 0 0 / 80%);
  }
}


@custom-variant aria-page (&[aria-current="page"]);
@custom-variant aria-location (&[aria-current="location"]);
