.graph-wrapper {
  --duration: 8s;
  width: 100%;
  height: 100%;
}
.graph-wrapper svg {
  width: 100%;
  height: 100%;
}
.graph-wrapper svg * {
  transform-box: fill-box;
  transform-origin: center;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.graph-wrapper.running svg *,
.graph-wrapper.running .budget p > span,
.graph-wrapper.running .trades p > span {
  animation-play-state: running;
}

a:has(.graph-wrapper):hover svg *,
a:has(.graph-wrapper):hover .budget p > span,
a:has(.graph-wrapper):hover .trades p > span {
  animation-play-state: running;
}
a:has(.graph-wrapper):hover .budget p > span,
a:has(.graph-wrapper):hover .trades p > span {
  animation-play-state: running;
}

@keyframes move {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}

.graph-wrapper .path-motion {
  offset-path: path('M50 350 150 350 250 750 300 750 400 300 450 300 500 400 550 400 650 900 700 900 850 350 900 350 950 550 1000 550');
  animation-name: move;
  animation-timing-function: linear;
}

.path-stroke {
  stroke-dashoffset: var(--path-length);
  stroke-dasharray: var(--path-length);
  animation-name: draw;
  animation-timing-function: linear;
}

@keyframes draw {
  from {
    stroke-dashoffset: var(--path-length);
  }
  to {
    stroke-dashoffset: 0;
  }
}



@keyframes jump-sell-1 {
  0%, 34% {
    transform: translateY(50px) scale(0);
  }
  39% {
    transform: translateY(0) scale(1);
  }
}
@keyframes jump-sell-2 {
  0%, 85% {
    transform: translateY(50px) scale(0);
  }
  90% {
    transform: translateY(0) scale(1);
  }
}
.sell-1 {
  animation-name: jump-sell-1;
  animation-timing-function: var(--ease-back-out);
}
.sell-2 {
  animation-name: jump-sell-2;
  animation-timing-function: var(--ease-back-out);
}

@keyframes jump-buy-1 {
  0%, 15% {
    transform: translateY(-50px) scale(0);
  }
  20% {
    transform: translateY(0) scale(1);
  }
}
@keyframes jump-buy-2 {
  0%, 55% {
    transform: translateY(-50px) scale(0);
  }
  60% {
    transform: translateY(0) scale(1);
  }
}
.buy-1 {
  animation-name: jump-buy-1;
  animation-timing-function: var(--ease-back-out);
}
.buy-2 {
  animation-name: jump-buy-2;
  animation-timing-function: var(--ease-back-out);
}


.graph-wrapper {
  display: grid;
  grid-template-areas: 'stack';
  gap: 24px;
}
.graph-wrapper > svg,
.budget,
.trades {
  grid-area: stack;
}
.trades {
  place-self: start start;
}
.budget {
  place-self: start end;
  display: grid;
  gap: 8px;
}
.budget .price,
.trades {
  --font-size: 1.2rem;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.price.buy {
  color: var(--color-buy);
}
.price.sell {
  color: var(--color-sell);
}
.price p,
.trades p {
  display: grid;
  text-align: end;
  height: var(--font-size);
  font-size: var(--font-size);
  line-height: 1;
  margin: 0;
  align-items: center;
}
.budget p > span,
.trades p > span {
  animation-duration: var(--duration);
  animation-timing-function: var(--ease-back-out);
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.budget .token {
  font-size: 1rem;
  align-self: end;
}



/* RECURRING LIMIT */

.graph-wrapper .budget.limit .price p {
  grid-template-areas: 'stack';
}
.graph-wrapper .budget.limit .price p > * {
  grid-area: stack;
}

@keyframes budget-tx-1 {
  0%, 15% {
    opacity: 1;
    transform: translateY(0);
  }
  20%, 100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes budget-tx-2 {
  0%, 15% {
    opacity: 0;
    transform: translateY(50px);
  }
  20%, 34% {
    opacity: 1;
    transform: translateY(0);
  }
  39%, 100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
@keyframes budget-tx-3 {
  0%, 34% {
    opacity: 0;
    transform: translateY(-50px);
  }
  39%, 55% {
    opacity: 1;
    transform: translateY(0);
  }
  60%, 100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes budget-tx-4 {
  0%, 55% {
    opacity: 0;
    transform: translateY(50px);
  }
  60%, 85% {
    opacity: 1;
    transform: translateY(0);
  }
  90%, 100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
@keyframes budget-tx-5 {
  0%, 85% {
    opacity: 0;
    transform: translateY(-50px);
  }
  90%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.budget.recurring.limit p > span {
  animation-timing-function: var(--ease-back-out);
}
.budget.recurring.limit p > span:nth-child(1) {
  animation-name: budget-tx-1;
}
.budget.recurring.limit p > span:nth-child(2) {
  animation-name: budget-tx-2;
}
.budget.recurring.limit p > span:nth-child(3) {
  animation-name: budget-tx-3;
}
.budget.recurring.limit p > span:nth-child(4) {
  animation-name: budget-tx-4;
}
.budget.recurring.limit p > span:nth-child(5) {
  animation-name: budget-tx-5;
}


/* DISPOSABLE LIMIT */
@keyframes budget-limit-tx-1 {
  0%, 15% {
    opacity: 1;
    transform: translateY(0);
  }
  20%, 100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes budget-limit-tx-2 {
  0%, 15% {
    opacity: 0;
    transform: translateY(50px);
  }
  20%, 34% {
    opacity: 1;
    transform: translateY(0);
  }
}

.budget.disposable.limit p > span {
  animation-timing-function: var(--ease-back-out);
}
.budget.disposable.limit p > span:nth-child(1) {
  animation-name: budget-limit-tx-1;
}
.budget.disposable.limit p > span:nth-child(2) {
  animation-name: budget-limit-tx-2;
}

/* DISPOSABLE RANGE */
.budget.disposable.range p {
  overflow: hidden;
}
.budget.disposable.range p > span {
  animation-timing-function: var(--ease-out);
}
@keyframes budget-range-tx-1 {
  0%, 15% {
    transform: translateY(0);
  }
  30%, 55% {
    transform: translateY(calc(6 * var(--font-size) * -1));
  }
  75%, 100% {
    transform: translateY(calc(10 * var(--font-size) * -1));
  }
}
.budget.disposable.range p > span {
  animation-name: budget-range-tx-1;
}


/** TRADES */
@keyframes trade-amount {
  0%, 5% {
    transform: translateY(0);
  }
  10%, 15% {
    transform: translateY(-100%);
  }
  20%, 25% {
    transform: translateY(-200%);
  }
  30%, 35% {
    transform: translateY(-300%);
  }
  40%, 45% {
    transform: translateY(-400%);
  }
  50%, 55% {
    transform: translateY(-500%);
  }
  60%, 65% {
    transform: translateY(-600%);
  }
  70%, 75% {
    transform: translateY(-700%);
  }
  80%, 85% {
    transform: translateY(-800%);
  }
  90%, 100% {
    transform: translateY(-900%);
  }
}
.trades p {
  overflow: hidden;
}
.trades p span {
  animation-name: trade-amount;
}

/* FULL RANGE */
@keyframes marginal-range {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.full-range .marginal {
  animation-name: marginal-range;
  animation-duration: calc(var(--duration) / 10);
}
.full-range .marginal.sell {
  animation-direction: alternate;
}
.full-range .marginal.buy {
  animation-direction: alternate-reverse;
}

/* OVERLAPPING */
/* Keyframes for inside and outside marginal range */
/* @keyframes overlapping-marginal-buy {
  0%, 5% {
    opacity: 0;
  }
  6%, 15% {
    opacity: 1;
  }
  16%, 24% {
    opacity: 0;
  }
  25%, 35% {
    opacity: 1;
  }
  36%, 43% {
    opacity: 0;
  }
  44%, 55% {
    opacity: 1;
  }
  56%, 75% {
    opacity: 0;
  }
  76%, 100% {
    opacity: 1;
  }
} */
@keyframes overlapping-marginal-buy {
  0%, 5% {
    opacity: 0;
  }
  6%, 10% {
    opacity: 1;
  }
  11%, 24% {
    opacity: 0;
  }
  25%, 30% {
    opacity: 1;
  }
  36%, 43% {
    opacity: 0;
  }
  44%, 50% {
    opacity: 1;
  }
  56%, 75% {
    opacity: 0;
  }
  76%, 85% {
    opacity: 1;
  }
  86%, 100% {
    opacity: 0;
  }
}
@keyframes overlapping-marginal-sell {
  0%, 10% {
    opacity: 0;
  }
  11%, 15% {
    opacity: 1;
  }
  16%, 29% {
    opacity: 0;
  }
  30%, 35% {
    opacity: 1;
  }
  36%, 50% {
    opacity: 0;
  }
  51%, 55% {
    opacity: 1;
  }
  56%, 85% {
    opacity: 0;
  }
  86%, 100% {
    opacity: 1;
  }
}

.overlapping .marginal.sell {
  animation-name: overlapping-marginal-sell;
  animation-timing-function: linear;
}
.overlapping .marginal.buy {
  animation-name: overlapping-marginal-buy;
  animation-timing-function: linear;
}

