#path-stroke {
  stroke-dashoffset: 2671;
  stroke-dasharray: 2671;
  animation: draw 3s linear infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 2671;
  }
  to {
    stroke-dashoffset: 0;
  }
}
