.trades {
  --font-size: 1.5rem;
  grid-area: stack;
  place-self: start start;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.trades p {
  display: grid;
  text-align: end;
  height: var(--font-size);
  font-size: var(--font-size);
  line-height: 1;
  margin: 0;
  align-items: center;
  overflow: hidden;
}
.trades p > span {
  animation-duration: var(--duration);
  animation-timing-function: var(--ease-in--out);
  animation-iteration-count: infinite;
  animation-name: trades;
}

@keyframes trades {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(calc(-40 * 100%));
  }
}


.budget {
  place-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 24px;
  font-size: 1.2rem;
  text-align: end;
}
.initial-buy {
  color: var(--color-buy);
  opacity: 0.5;
}
.initial-sell {
  color: var(--color-sell);
  opacity: 0.5;
}
.current-buy {
  color: var(--color-buy);
  display: grid;
  align-content: start;
  gap: 8px;
}
.current-buy .range {
  background: linear-gradient(to top, var(--color-buy-dark), var(--color-buy));
}
.current-sell {
  color: var(--color-sell);
  display: grid;
  align-content: start;
  gap: 8px;
}
.current-sell .range {
  background: linear-gradient(to top, var(--color-sell-dark), var(--color-sell));
}

.range {
  height: 200px;
  transform-origin: bottom;
}

.final-buy {
  color: var(--color-buy);
  text-align: center;
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid var(--color-buy);
}
.final-sell {
  color: var(--color-sell);
  text-align: center;
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid var(--color-sell);
}
