.graph-wrapper {
  --duration: 8s;
  width: 300px;
  height: 300px;
}
.graph-wrapper svg {
  width: 100%;
  height: 100%;
}
.graph-wrapper svg * {
  transform-box: fill-box;
  transform-origin: center;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

a:has(.graph-wrapper):hover svg * {
  animation-play-state: running;
}
a:has(.graph-wrapper):hover .budget p > span {
  animation-play-state: running;
}

@keyframes move {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}

.graph-wrapper .path-motion {
  offset-path: path('M50 350 150 350 250 750 300 750 400 300 450 300 500 400 550 400 650 900 700 900 850 350 900 350 950 550 1000 550');
  animation-name: move;
  animation-timing-function: linear;
}

.path-stroke {
  stroke-dashoffset: var(--path-length);
  stroke-dasharray: var(--path-length);
  animation-name: draw;
  animation-timing-function: linear;
}

@keyframes draw {
  from {
    stroke-dashoffset: var(--path-length);
  }
  to {
    stroke-dashoffset: 0;
  }
}



@keyframes jump-sell-1 {
  0%, 34% {
    transform: translateY(50px) scale(0);
  }
  39% {
    transform: translateY(0) scale(1);
  }
}
@keyframes jump-sell-2 {
  0%, 85% {
    transform: translateY(50px) scale(0);
  }
  90% {
    transform: translateY(0) scale(1);
  }
}
.sell-1 {
  animation-name: jump-sell-1;
  animation-timing-function: var(--ease-back-out);
}
.sell-2 {
  animation-name: jump-sell-2;
  animation-timing-function: var(--ease-back-out);
}

@keyframes jump-buy-1 {
  0%, 15% {
    transform: translateY(-50px) scale(0);
  }
  20% {
    transform: translateY(0) scale(1);
  }
}
@keyframes jump-buy-2 {
  0%, 55% {
    transform: translateY(-50px) scale(0);
  }
  60% {
    transform: translateY(0) scale(1);
  }
}
.buy-1 {
  animation-name: jump-buy-1;
  animation-timing-function: var(--ease-back-out);
}
.buy-2 {
  animation-name: jump-buy-2;
  animation-timing-function: var(--ease-back-out);
}


.graph-wrapper {
  display: grid;
  grid-template-areas: 'stack';
}
.graph-wrapper svg,
.graph-wrapper .budget {
  grid-area: stack;
}
.graph-wrapper .budget {
  place-self: start end;
  display: grid;
  gap: 16px;
}
.graph-wrapper .budget .price {
  --font-size: 1.2rem;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}
.graph-wrapper .price.buy {
  color: var(--color-buy);
}
.graph-wrapper .price.sell {
  color: var(--color-sell);
}
.graph-wrapper .price p {
  display: grid;
  text-align: end;
  height: var(--font-size);
  font-size: var(--font-size);
  line-height: 1;
  margin: 0;
  align-items: center;
}
.budget p > span {
  animation-duration: var(--duration);
  animation-timing-function: var(--ease-back-out);
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.graph-wrapper .budget .token {
  font-size: 1rem;
  align-self: end;
}



/* LIMIT */

.graph-wrapper .budget.limit .price p {
  grid-template-areas: 'stack';
}
.graph-wrapper .budget.limit .price p > * {
  grid-area: stack;
}

@keyframes budget-tx-1 {
  0%, 15% {
    opacity: 1;
    transform: translateY(0);
  }
  20%, 100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes budget-tx-2 {
  0%, 15% {
    opacity: 0;
    transform: translateY(50px);
  }
  20%, 34% {
    opacity: 1;
    transform: translateY(0);
  }
  39%, 100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
@keyframes budget-tx-3 {
  0%, 34% {
    opacity: 0;
    transform: translateY(-50px);
  }
  39%, 55% {
    opacity: 1;
    transform: translateY(0);
  }
  60%, 100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
@keyframes budget-tx-4 {
  0%, 55% {
    opacity: 0;
    transform: translateY(50px);
  }
  60%, 85% {
    opacity: 1;
    transform: translateY(0);
  }
  90%, 100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
@keyframes budget-tx-5 {
  0%, 85% {
    opacity: 0;
    transform: translateY(-50px);
  }
  90%, 100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.budget.limit p > span {
  animation-timing-function: var(--ease-back-out);
}
.budget.limit p > span:nth-child(1) {
  animation-name: budget-tx-1;
}
.budget.limit p > span:nth-child(2) {
  animation-name: budget-tx-2;
}
.budget.limit p > span:nth-child(3) {
  animation-name: budget-tx-3;
}
.budget.limit p > span:nth-child(4) {
  animation-name: budget-tx-4;
}
.budget.limit p > span:nth-child(5) {
  animation-name: budget-tx-5;
}


/* RANGE */
.budget.range p {
  overflow: hidden;
}
.budget.range p > span {
  animation-timing-function: var(--ease-out);
}
@keyframes budget-range-tx-1 {
  0%, 15% {
    transform: translateY(0);
  }
  30%, 55% {
    transform: translateY(calc(6 * var(--font-size) * -1));
  }
  75%, 100% {
    transform: translateY(calc(10 * var(--font-size) * -1));
  }
}
.budget.range p > span {
  animation-name: budget-range-tx-1;
}